
       <header class="header content">
        <div class="header-video">
            <video sourse src="../../../assets/video.mp4.mp4" type="video/mp4" autoplay="" loop="" muted=""></video>
        </div>
        
        <div class="header-overlay"></div><div class="header-content">
            <div class="main-container">
                <p>Hola a todos!</p>
                <div class="typewriter-text">
                    <p>Soy <strong>Selene Susana Rouvier</strong></p>
                </div>
            </div>
        </div>
    </header>
       
    <section id="about" class="py-5">
        <div class="container">
            <div class="col-lg-11 mx-auto" id="borde">
                <div style="max-width: 100%">
                    <br>
                    <h2 class="font-italic ml-2" id="fuenteTitulos" key="tituloSeccion1">Sobre Mí</h2>
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="images/photoMe.jpg" class="card-img aos-init aos-animate" id="photo" data-aos="fade-right">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text-justify">
                                <h4 id="nombre" data-aos="fade-up" data-aos-delay="300" class="aos-init">Selene S. Rouvier</h4>
                                <p class="lead text-justify">Mi nombre es Selene Susana Rouvier y actualmente tengo
                                    23 años. Vivo en la
                                    ciudad de Resistencia - Chaco, Argentina.</p>
                                <p class="lead text-justify">Soy estudiante de 5to año de la carrera Ingeniería en
                                    Sistemas de Información
                                    en la Universidad Tecnologica Nacional - Facultad Regional Resistencia.</p>
                                <p class="lead text-justify">Me considero una persona proactiva, con habilidades,
                                    conocimientos y una
                                    actitud positiva y decisiva frente a cualquier tipo de problema.</p>
                                <p class="lead text-justify">Mi objetivo es crecer profesionalmente día a día
                                    logrando adquirir cada vez
                                    más conocimientos y aptitudes que me formen como profesional, buscando
                                    alcanzar los objetivos que tengo propuestos para mi futuro.</p>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col mx-auto m-0" id="habilidades">
                                <h4 class="text-info ">Soft Skills:</h4>
                                <div class="container">
                                    <ul class="list-group list-group-flush ml-2" id="items">

                                        <li class="list-group-item" id="fondo">Capacidad para trabajo en equipo</li>

                                        <li class="list-group-item" id="fondo">Capacidad para integración y
                                            comunicación
                                        </li>

                                        <li class="list-group-item" id="fondo">Resolución de problemas</li>

                                        <li class="list-group-item" id="fondo">Aprendizaje constante</li>

                                        <li class="list-group-item" id="fondo">Autodisciplina</li>

                                        <li class="list-group-item" id="fondo">Compromiso</li>

                                        <li class="list-group-item" id="fondo">Habilidades de Liderazgo y
                                            Comunicación</li>

                                        <li class="list-group-item" id="fondo"><strong>Inglés:</strong> Intermedio
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col mx-auto m-0" id="herramientas">
                                <h4 class="text-info ">Technical Skills:</h4>
                                <div class="container">
                                    <ul class="list-group list-group-flush ml-2" id="items">
                                        <li class="list-group-item" id="fondo">Git / Github / Gitlab</li>

                                        <li class="list-group-item" id="fondo">Slack / Trello / Discord</li>

                                        <li class="list-group-item" id="fondo">VSCode</li>

                                        <li class="list-group-item" id="fondo"><strong>Lenguajes de
                                                Programación:</strong>
                                            HTML,
                                            JavaScript.
                                        </li>

                                        <li class="list-group-item" id="fondo"><strong>Lenguajes de
                                                Hojas de estilos en cascada:</strong>
                                            CSS, Sass.
                                        </li>

                                        <li class="list-group-item" id="fondo"><strong>Librerías de
                                                JavaScript:</strong>
                                            jQuey,
                                            React,
                                            Redux
                                        </li>

                                        <li class="list-group-item" id="fondo"><strong>Framework de
                                                JavaScript:</strong>
                                            Angular
                                        </li>

                                        <li class="list-group-item" id="fondo"><strong>Frameworks CSS:</strong>
                                            Bootstrap,
                                            Material UI
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
       
       
       
       
       
       
       
       
       
       
       