<header class="header content">
      <div class="header-video">
        <video source src="../../../assets/video.mp4.mp4" controls autoplay loop></video>
    </div>

    <div class="header-overlay"></div>
    
    
    <div class="header-content">
        <h1>Portfolio Sonia Soacha </h1>
        <h2>Developer Junior  Full Stack</h2>
    
        <a href="http:riesgopsicosocial"target="_blank" class="btn">visita http </a>
    </div>


        <div class="main-container">
        </div>  
</header>