
        <div class="row"> 

             <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <img src="../../../assets/perfilPhoto.PNG" class="img-fluid" id="perfilPhoto">
             </div>

              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <br>
                    <br>
                    <br>
                    <br>
                 <h1 id="nombre">Acerca de Mí</h1>
               </div>
       
             <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                              
              <h2 class="lead text-justify"> Estudiante activa del programa Argentina programa, con grandes proyecciones en el desarrollo
                  de estrategias que sirvan de apoyo a los jóvenes y adultos en el direccionamiento de su desarrollo personal y profesional. Amante del arte, los libros, la naturaleza, la música y el café, con experiencia laboral en empresas de tecnología, farmacéutica, servicios de salud, transporte, cosmética, limpieza y educación.</h2>
                  <br>
                  <br>
              <h2 class="lead text-justify">Mi objetivo es crecer profesionalmente día a día  logrando adquirir cada vez más conocimientos y aptitudes que me formen como profesional, buscando
          alcanzar los objetivos que tengo propuestos para mi futuro.</h2>    
             
  
              
        
        