
<div class="row">
     
     <div class="col-xs-10 col-sm-2 col-md-0 col-lg-0">
         
        <h1>Acerca de mí</h1>
            </div>

     <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
          <p></p>
           <p></p>
           <p></p>
           <h2>Sonia J. Soacha</h2>
           <h3>Full Stack Developer Jr</h3>
           
                   <p></p>
          <p></p>
          <p></p>
     </div>

 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <p>Me encanta aportar a las organizaciones y aprender de ellas,  busco impulsar el desarrollo organizacional y el talento humano estableciendo cambios que impacten de forma positiva la economía de las empresas. Amante del arte, los libros, la naturaleza, la música y el café. Con 20 años de experiencia en administración de personal y en todos los procesos de rrhh en empresas de tecnología, farmacéutica, transporte, cosmética, limpieza y educación.</p>
</div>
</div>
