
.row {
        padding: 2rem; }

div{
    background-color: #556372;
    text-align: center;}

h1, h2{
    font-size: 3em;
    color: #fff;
    text-align: justify;}

/*estilos de la foto de perfil*/
@media (min-width:400px){
    #perfilPhoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(243, 241, 241);
        left: 2%;
        top: 550px;
    } }
@media (max-width:400px){
    #perfilPhoto{
        position: absolute;
        width: 9px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 500px;}}
