<div class="row">
    <div class="col-xs-10 col-sm-2 col-md-0 col-lg-0">
         <h1>Sonia J. Soacha</h1>
         <p>Full Stack Developer Jr</p>
 </div>
 <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
    <p></p>
    <p></p>
    <p></p>
         <h2>Acerca de mí</h2>
    <p></p>
    <p></p>
    <p></p>

 </div>
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
 <span>
         <p>Me encanta aportar a las organizaciones y aprender de ellas, como misión busco impulsar el desarrollo organizacional y el talento humano, estableciendo cambios que impacten de forma positiva la economía de las empresas, con capacidad para conformar y liderar equipos de trabajo, organizada, honesta, dinámica y proactiva con alta orientación al logro, sólidos conocimientos en sg-sst, factores de riesgo psicosocial, legislación de trabajo, norma ISO 9001, reclutamiento 2.0, plataforma Blackboard collaborate, moodle 2.5.
         </p>
 </span>
</div>
</div>
