.row {
    padding: 30px;
}
div{
    background-color: #4177ad;
    text-align: center;
}
/*estilos de la foto de perfil*/
@media (min-width:576px){
    #perfilPhoto{
        position: absolute;
        width: 15%;
        border-radius: 800%;
        box-shadow: 3px 3px 3px rgb(177, 194, 193);
        left: 5%;
        top: 400px;
    } 
}
@media (max-width:576px){
    #perfilPhoto{
        position: absolute;
        width: 15px;
        border-radius: 600%;
        box-shadow: 3px 3px 3px grey;
        left: 5%;
        top: 400px;
    }
    }
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 20%;
  }
