
.row {
    padding: 8rem;
    
}
div{
    background-color: #556372;
    text-align: center;
    padding: 0.5;
    
}



body {
    
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif; 
 
   

       }

h1, h2{
    font-size: 76px;
    color: #fff;
    text-align: justify;
    padding: 0.5;
}

/*estilos de la foto de perfil*/
@media (min-width:400px){
    #perfilPhoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(243, 241, 241);
        left: 2%;
        top: 600px;
    } 
}
@media (max-width:400px){
    #perfilPhoto{
        position: absolute;
        width: 10px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 600px;
    }
    }
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10%;
  }
