<div class="roow">
    <circle-progress
  [percent]="85"
  [radius]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'black'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#greid'"
  [innerStrokeColor]="'#C7E595'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
></circle-progress>
</div>

<div class="roow">
  <circle-progress
[percent]="85"
[radius]="90"
[showUnits]="false"
[title]="'HTML'"
[titleColor]="'black'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#greid'"
[innerStrokeColor]="'#C7E595'"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>

<div class="roow">
  <circle-progress
[percent]="85"
[radius]="90"
[showUnits]="false"
[title]="'HTML'"
[titleColor]="'black'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#greid'"
[innerStrokeColor]="'#C7E595'"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>

<div class="roow">
  <circle-progress
[percent]="85"
[radius]="90"
[showUnits]="false"
[title]="'HTML'"
[titleColor]="'black'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#greid'"
[innerStrokeColor]="'#C7E595'"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>