<div class="roow">
  <h1> Hard & Soft Skills</h1>
          <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'assets/HTML.png'"
            [showUnits]="true"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#greid'"
            [innerStrokeColor]="'#C7E595'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
         </div>
         
          <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'assets/CSS.png'"
            [showUnits]="true"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#greid'"
            [innerStrokeColor]="'#C7E595'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="90"
            [imageSrc]="'assets/HTML.png'"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#greid'"
            [innerStrokeColor]="'#C7E595'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
      </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="90"
            [imageSrc]="'assets/HTML.png'"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#greid'"
            [innerStrokeColor]="'#C7E595'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>