<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class= "text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="50"
          [radius]="100"
          [imageSrc]="'assets/HTML.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [backgroundColor]="'waith'"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'orange'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="50"
          [radius]="100"
          [imageSrc]="'assets/CSS.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [backgroundColor]="'waith'"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'orange'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="50"
          [radius]="100"
          [imageSrc]="'assets/imagGit.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [backgroundColor]="'waith'"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'orange'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class= "text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'assets/JS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      [backgroundColor]="'waith'"
      [outerStrokeWidth]="20"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="90"
          [radius]="100"
          [imageSrc]="'assets/Capacitacion.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [backgroundColor]="'waith'"
          [outerStrokeColor]="'orange'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="90"
          [radius]="100"
          [imageSrc]="'assets/Trabajoequi.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="20"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'orange'"
          [innerStrokeColor]="'#C7E596'"
          [backgroundColor]="'waith'"
          [animation]="true"
          [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
  