<div class="container" *ngif="expLab">
    <div class="row">
         <div>
             <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                   <div class="form-group">
                     <label for="nombreE">"Nombre de la empresa </label>
                     <input type="text" class="form-control" id="nombreE" [(ngModel)]="expLab.nombreE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE">"descripcion de la tarea </label>
                        <input type="text" class="form-control" id="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                       </div>
                       <button class="btn btn-danger">
                        Actualizar 
                       </button>
                </form>
           </div>
    </div>   
</div>
