<div class="row">
    <h1>Experiencia Laboral</h1>
          <p></p>
          <p></p>
          <p></p>
        <div class="col-lg-12">
          
                  <ul>
                     <li><h2>Nobel Service Group SRL</h2> <h3>(2014 - 2022)</h3>
               <p>Empresa prestadora de servicios en sectores oficiales y privados, desarrollan limpieza de grandes superficies en hospitales, escuelas, laboratorios, centros comerciales y hoteles.</p></li>
                 </ul>
                <ul>
                  <p></p>
                  <p></p>
        
                    <li><h2>Indra Tecnologías de la Información</h2> <h3>(2007 - 2008)</h3>
                <li><p> Indra es la multinacional de Tecnologías de la Información número 1 en España y una de las principales de Europa y Latinoamérica. Cuenta con más de 31.000 profesionales y con clientes en más de 110 países. </p></li>
             </ul>
                <ul>
                  <p></p>
                  <p></p>
        
                  <li><h2>Universidad Minuto de Dios</h2> <h3>(1997-2006)</h3>
                <li><p> La Universidad Minuto de Dios es una institución dedicada a la educación superior a nivel nacional en Colombia, desarrollan y promueven el desarrollo en todas las regiones de Colombia con el propósito de apoyar el fortalecimiento de la economía en el país.</p></li>
                </ul>               
            </div>
    </div>

