.row{
    padding: 15px;
    
}
div{
    background: #212529;
    color: #fefefe;
}

h1, h3{
    display:inline;
    background: #212529;
}

.class {
    background: #212529;
}
.card {
    width: 18rem;
    margin: auto;    
    }
