<div class="row">
    <h1>Experiencia Laboral</h1>
        <div class="col-lg-12">
        <ul>
                     <li><h2>Trabajo 1</h2> - <h3>(years)</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia soluta id quisquam vero impedit qui vel odit aperiam, ratione blanditiis praesentium, nesciunt possimus voluptates itaque hic vitae nulla. Earum, modi.</p></li>
                 </ul>
                <ul>
        
                    <li><h2>Trabajo 2</h2> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia soluta id quisquam vero impedit qui vel odit aperiam, ratione blanditiis praesentium, nesciunt possimus voluptates itaque hic vitae nulla. Earum, modi.</p></li>
             </ul>
                <ul>
        
                  <li><h2>Trabajo 3</h2> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia soluta id quisquam vero impedit qui vel odit aperiam, ratione blanditiis praesentium, nesciunt possimus voluptates itaque hic vitae nulla. Earum, modi.</p></li>
                </ul>               
            </div>
    </div>

