.row{
    padding: 20rem;
    
}
div{
    background: #212529;
    color: #fefefe;
}

h1{
    font-size: 36px;
} 

h5 {
    display:inline;
    background: #212529;
    font-size: 2rem;
}

.class {
    background: #212529;
}
.card {
    width: 25rem;
    height: 20;
    }

    /*px no se utiliza para resposive*/
    /*# 000 hex color - color hexadecimal*/