.banner-content{
    overflow-x:hidden;
    width: 100rem;
    height: 20px;;
    box-sizing: border-box;}

.banner {
    height: 50vh;
    display: flex;
    align-items:center;
    color: #fff;
    padding-left: 3rem;}

div {
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 100px;
    margin-left: 0.5px;}
   
.content {
    padding-left: 1rem;
    padding-right: 2rem;
    margin:auto;
    text-align: right;}
.header-content {
    z-index:2;}   


.banner-content p {
    font-size: 20em;
    display: block;
    padding-bottom: 2rem;    ;
    font-family: 'Open Sans', sans-serif;}

@media (max-width: 60px) {
.content{
    padding: 0 3 rem 0 3 rem;}}

