<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/imgArgentinaPro.png" id="logoAp">  
        </div>
<div class="redes">
        <a href=""><img src="../../../assets/imagenlinketind.jpg" id="linkedin"></a>
        <a href=""><img src="../../../assets/imageinstagram.png" id="Instagram"> </a>
        <a href=""><img src="../../../assets/imagenfacebook.jpg" id="Facebook"></a>
        <a href=""><img src="../../../assets/imagGit.png"id="github"></a>
        <button type="button" class="btn btn-outline-light"><button type="button" class="btn btn-primary">INGRESO</button></button>
        </div>
    </div>
</div>


