
<div class="navbar navbar-expand-lg bg-black">
    
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/LogoArgentina.png" alt="">
        </a>
        <div class="redes">
            <a href=""><img src="../../../assets/Instagram.png" id="Instagram"></a>
            <a href=""><img src="../../../assets/Facebook.png" id="Facebook"></a>
            <a href=""><img src="../../../assets/imagGit.png" id="imagGit"></a>
            <a href=""><img src="../../../assets/Linke.png" id="Linke"></a>
            
          <button type="button" class="btn btn-outline-light"><button type="button" class="btn btn-primary">INGRESO</button></button>
        </div>
    </div>
</div>