<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAp.png" id="logoAp">  
        </div>
<div class="redes">
        <a href=""><img src="../../../assets/imgLinkedin.png" id="linkedin"></a>
        <a href=""><img src="../../../assets/Imgtwitter.png" id="twitter"></a>
        <a href=""><img src="../../../assets/imgInstagram.png" id="Instagram"> </a>
        <a href=""><img src="../../../assets/ImagFace.png" id="Facebook"></a>
        <a href=""><img src="../../../assets/imgGifHub.png"id="github"></a>
        <button type="button" class="btn btn-outline-light"><button type="button" class="btn btn-primary">INGRESO</button></button>
        </div>
    </div>
</div>


