<div class="row">
    <h1>Educación</h1>
  
            <div class="col-lg-12">
           <ul>
        <li><h2>Especialista en Ingenieria Gerencial</h2> <h3>(2013-2015)</h3>
            <p>Universidad Tecnológica Nacional de Buenos Aires (UTN)</p>
          </ul>
    <ul>
        <li><h2>Especialista en organizacional y ocupacional</h2> <h3>(2007-2009)</h3>
            <p>Universidad El Bosque - Bogotá - Colombia</p>
         </ul>
    <ul>
        <li><h2> Coaching psicológico integral </h2> <h3>(2014)</h3>
        <p>Escuela de Coaching - Mendoza Argentina. </p>
    </ul>
       </div>
    </div>

    <div class="col mx-auto m-0" id="habilidades">
                     
        <div class="col mx-auto m-0" id="herramientas">
            <h4 class="text-info ">Technical Skills:</h4>
            <div class="container">
                <ul class="list-group list-group-flush ml-2" id="items">
                    <li class="list-group-item" id="fondo">Git / Github / Gitlab</li>

                    <li class="list-group-item" id="fondo">Slack / Trello / Discord</li>

                    <li class="list-group-item" id="fondo">VSCode</li>

                    <li class="list-group-item" id="fondo"><strong>Lenguajes de
                            Programación:</strong>
                        HTML,
                        JavaScript.
                    </li>

                    <li class="list-group-item" id="fondo"><strong>Lenguajes de
                            Hojas de estilos en cascada:</strong>
                        CSS, Sass.
                    </li>

                    <li class="list-group-item" id="fondo"><strong>Librerías de
                            JavaScript:</strong>
                        jQuey,
                        React,
                        Redux
                    </li>

                    <li class="list-group-item" id="fondo"><strong>Framework de
                            JavaScript:</strong>
                        Angular
                    </li>

                    <li class="list-group-item" id="fondo"><strong>Frameworks CSS:</strong>
                        Bootstrap,
                        Material UI
                    </li>
                </ul>
            </div>
        </div>
    </div>