.row{
    padding: 2em;
    }

.card {
        width: 15em;
        height: 15;
        font-size: 2rem;
        float: left;
       
    }

 .class card {
        width: 15em;
        height: 15rem;
        font-size: 2rem;
        float: left;          
        }

h1{
       font-size: 4em;
       margin-left: 4em;      
}