<div class="row">
    <h1>Educación</h1>
    <p></p>
    <p></p>
    <p></p>
            <div class="col-lg-12">
           <ul>
        <li><h2>Especialista en Ingenieria Gerencial</h2> <h3>(2013-2015)</h3>
            <p>Universidad Tecnológica Nacional de Buenos Aires (UTN)</p>
          </ul>
    <ul>
        <li><h2>Especialista en organizacional y ocupacional</h2> <h3>(2007-2009)</h3>
            <p>Universidad El Bosque - Bogotá - Colombia</p>
         </ul>
    <ul>
        <li><h2> Coaching psicológico integral </h2> <h3>(2014)</h3>
        <p>Escuela de Coaching - Mendoza Argentina. </p>
    </ul>
       </div>
    </div>

