<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>QR</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi animi soluta nihil nostrum aliquid quod veniam ratione ipsum, illo eum, adipisci explicabo maiores sapiente inventore repellendus iure, labore perspiciatis consectetur?</p>
        </div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/Whatsapp.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>

