.row{
    padding: 8rem; }
div{
    background: #212529;
    color: #fefefe;}

h1{
    font-size: 8rem;} 

h5 {
    display:inline;
    background: #212529;
    font-size: 2rem;}

.class {
    background: #212529;}

    .card {
        width: 40rem;
        height: 10;
        font-size: 3rem;
        float: left;
        }

.class card img {
        height: 4;}

    /*px no se utiliza para resposive*/
    /*# 000 hex color - color hexadecimal*/















.row{
padding: 8rem;
background-color: #212529;
color: #fefefe;
}
.contenedor{
}
.parte1, .parte2 {
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
    box-shadow: ejeX ejeY difumasion color;
}
