<div class="row">
            <h1>Proyectos realizados</h1>

        <div class="">     
            <div class="row">     
                <div class="col">
                    <div class="card">
                         <img src="../../../assets/ProyectoPSICOSOCIAL.jpg" class="card-img-top" alt="user-card">
                    <div class="card-body">
                         <h5 class="card-title">Proyecto Psicosocial</h5>
                        <p class="card-text"></p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                <div class="card">
                    <img src="../../../assets/SSSLinkedIn.png" class="card-img-top" alt="user-card">
                    <div class="card-body">
                    <h5 class="card-title">Código QR</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">www.linkedin.com/in/ 
                        soniajasminsoa
                        </a>
                    </div>          
                </div>
                </div>
            </div>
        </div>
    </div>